#whosListeningContainer {
    position: fixed;
    height: 100%;
    right: 7px;
    top: 20px;
    background-color: #121111;
    z-index: 999;
    padding: 15px;
    min-width:100px;
    border-radius: 15px;
  }