#search-container {
    width: inherit;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
    background-color: #121111;
    margin-left: 10px;
    position: fixed;
    top: 15px;
    border-radius: 15px;
  }